<div class="search">
    <input type="text" placeholder="Search for food." [(ngModel)]="search" (keyup)="onSearch()">
</div>
<div class="tags">
    <a [ngClass]="activeTag[i] ? 'active' : ''" (click)="onTagClick(tag.name, i)"
        *ngFor="let tag of tags; let i = index">
        {{ tag.name }}({{ tag.count}})
    </a>
</div>
<app-notfound (onReset)="reset()" message="No food found!" resetLinkText="Reset"
    *ngIf="foods.length == 0"></app-notfound>
<ul>
    <li *ngFor="let food of foods; let i = index">
        <a routerLink='food/{{i}}'>
            <img src="{{ food.img }}" alt="{{  food.name  }}">
            <div class="content">
                <span class="favorite" [ngClass]="{not: !food.favorite}">
                    ❤
                </span>
                <div class="name">
                    {{ food.name }}
                </div>

                <div class="desc">
                    {{ food.desc }}
                </div>
            </div>
            <div class="product-footer">
                <div class="cookTime">
                    🕒{{ food.cookTime }} mins
                </div>
                <div class="price">
                    <span>
                        BD {{ food.price }}
                    </span>
                </div>
            </div>
        </a>
    </li>
</ul>